In [1]:
# import libraries
import pandas as pd
import numpy as np
import pickle

In [2]:
# load model yang sudah dibuat
with open("model.pkl", "rb") as model:
    model = pickle.load(model)

In [7]:
dataInf = {
    "Discount_offered": [58, 32, 3, 11, 20],
    "Customer_care_calls": [5, 3, 4, 2, 1],
    "Customer_rating": [2, 3, 5, 5, 1],
    "Cost_of_the_Product": [230, 150, 163, 120, 280],
    "Warehouse_block": ['A', 'C', 'F', 'B', 'D'],
    "Mode_of_Shipment": ['Ship', 'Flight', 'Road', 'Flight', 'Ship'],
    "Prior_purchases": [4, 3, 2, 5, 3],
    "Product_importance": ['high', 'low', 'medium', 'low', 'high'],
}

dataInf = pd.DataFrame(dataInf)

dataInf

,Discount_offered,Customer_care_calls,Customer_rating,Cost_of_the_Product,Warehouse_block,Mode_of_Shipment,Prior_purchases,Product_importance
0,58,5,2,230,A,Ship,4,high
1,32,3,3,150,C,Flight,3,low
2,3,4,5,163,F,Road,2,medium
3,11,2,5,120,B,Flight,5,low
4,20,1,1,280,D,Ship,3,high

In [8]:
# melakukan predict
pred_inf = model.predict(dataInf)
pred_inf

array([1, 1, 1, 1, 1], dtype=int64)

In [9]:
# menambahkan data prediction ke dataframe
dataInf['Reached_on_time'] = pred_inf
dataInf

,Discount_offered,Customer_care_calls,Customer_rating,Cost_of_the_Product,Warehouse_block,Mode_of_Shipment,Prior_purchases,Product_importance,Reached_on_time
0,58,5,2,230,A,Ship,4,high,1
1,32,3,3,150,C,Flight,3,low,1
2,3,4,5,163,F,Road,2,medium,1
3,11,2,5,120,B,Flight,5,low,1
4,20,1,1,280,D,Ship,3,high,1